* {
    font-family: "Outfit", sans-serif;
}

.font-outfit-400 {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}

.font-outfit-700 {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
}

@media only screen and (max-width: 768px)  {
    .responsive-container {
        background-color: #D5E1EF;
    }
}